/*---------------------------------global----------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*---------------------------------header----------------------------------*/
.container{
    width: 70%;
    margin: auto;
}
html{
    scroll-behavior: smooth;
}
#header{
    width: 100vw;
    background-color: darkgoldenrod;
}
#navbar{
    width: 80%;
    margin: auto;
    text-align: center;
}
#navbar ul{
    padding: 15px 0;
}
#navbar ul li{
    list-style-type: none;
    margin-right: 20px;
    display: inline-block;
}
#navbar ul li a{
    text-decoration: none;
    font-size: 18px;
    color: #fff;
}

/*---------------------------------mainSection1----------------------------------*/
#mainSection1{
    margin-top: 50px;
}
#mainSection1Content{
    display: flex;
    gap: 30px;
}
#img-div img{
    width: 300px;
}
#title{
    flex: 80%;
}
#img-div{
    flex: 20%;
}
/*---------------------------------mainSection2----------------------------------*/
#mainSection2{
    margin-top: 50px;
    padding: 20px 0;
    text-align: center;
    background-color: #f4f4f4;
}
#peaceConferenceIntro h2{
    font-size: 36px;
    margin-bottom: 30px;
}
#peaceConferenceImgs{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: space-between;
    gap: 20px;
}
.peaceConferenceImg img{
    width: 100%;
    border-radius: 5px 5px 0 0;
}
.peaceConferenceImg{
    background-color: #fff;
}
.peaceConferenceImg p{
    padding: 10px;
}

/*---------------------------------mainSection3----------------------------------*/

#mainSection3{
    margin-top: 50px;
    text-align: center;
}
#publicLecturesIntro h2{
    font-size: 36px;
    margin-bottom: 30px;
}
#publicLectures{
    margin-top: 30px;
}
.lectures img{
    width: 100%;
    border-radius: 5px 5px 0 0;
}
#publicLectures{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 10px;
}
.lectures{
    background-color: #f4f4f4;
}
.lectures p{
    padding: 10px;
}

/*---------------------------------footer----------------------------------*/

footer{
    margin-top: 50px;
    background-color: darkgoldenrod;
    padding: 20px;
    text-align: center;
}
footer h3{
    text-align: center;
    font-size: 26px;
}
.oficialWebs{
    display: flex;
    gap: 20px;
    width: 50%;
    margin: 20px auto;
}
.oficialWebs a{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}

/*---------------------------------media quories----------------------------------*/

@media(max-width: 700px){
    #mainSection1Content{
        flex-direction: column;
    }
    #img-div{
        text-align: center;
    }
    #peaceConferenceImgs{
        grid-template-columns: 50% 50%;
        gap: 20px;
    }
    #publicLectures{
        grid-template-columns: 50% 50%;
        gap: 10px;
    }
}
@media(max-width: 500px){
    #navbar ul li{
        display: block;
    }
    #peaceConferenceImgs{
        grid-template-columns: 100%;
    }
    #publicLectures{
        grid-template-columns: 100%;
    }
    .oficialWebs{
        flex-direction: column;
    }
}